/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/config/env.php
/config/database.php
/resources/views/user_profile.php
/resources/views/edit_user_profile.php
/resources/views/update_user_profile.php
