@charset "UFT-8";

/* 共通部分
------------------------------- */
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
img {
    max-width: 100%;
}

/* HEADER
--------------------------------- */
.logo {
    width: 160px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    margin-top: 70px;
    list-style: none;
    
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a:hover {
    color: #9CBFBB;
}

.page-header {
   display: flex; 
   justify-content: space-between;
   margin-left: 20px;
   margin-right: 60px;
   border-bottom: 1px gray solid;
}

.page-icon {
    z-index: 1;
    display:flex;
    justify-content:space-between;
    list-style: none;
    display: flex;
    color: #9CBFBB;
    font-size: 2rem;
}
.page-left {
    margin-top: 300px;
    margin-left: 10px;
}
.page-right {
    margin-top: 300px;
    margin-right: 60px;
}

.question-contents {
    z-index: 2;
    position: absolute;
    margin: 0 auto;
    padding: 0 30%;
}
.question-contents p {
    font-size: 1.25rem;
}

select {
    font-size: 17px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}

textarea {
    width: 500px;
    height: 200px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 17px;
}

.submit-button {
    margin: 20px 45%;
}

button {
    font-size: 1.1rem;
    width: 70px;
    height: 40px;
    background-color: beige;
    border: 1px solid #dddddd;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ffbf1f;
}