@charset "UFT-8";

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* HEADER
---------------------------------------------------- */
img {
    max-width: 100%;
}

.logo {
    width: 160px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    margin-top: 70px;
    list-style: none;
    
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a:hover {
    color: #9CBFBB;
}

.main-nav input {
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 1.25rem;
}
.main-nav input:hover {
    color: #9CBFBB;
}

.page-header {
   display: flex; 
   justify-content: space-between;
   margin-left: 20px;
   margin-right: 60px;
   border-bottom: 1px gray solid;
}

/* CONTENTS
----------------------------------------------- */
.wrapper {
    width: 1000px;
    height: 800px;
}

.contents {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
    height: 100px;
    font-size: 1.125rem;
    text-align: center;
}
.contents a {
    border-bottom: black;
    text-decoration: underline;
}